GATEWAY_PORT=9090

COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX

COGNITO_APP_CLIENT_ID=cambia-esto

USERS_DB_NAME=users_db
USERS_DB_USER=users_app
USERS_DB_PASSWORD=cambia-esta-clave

MATCHPOINT_DB_NAME=matchpoint_db
MATCHPOINT_DB_USER=matchpoint_app
MATCHPOINT_DB_PASSWORD=cambia-esta-clave

PGADMIN_EMAIL=admin@puce.edu.ec
PGADMIN_PASSWORD=cambia-esta-clave
